#catcher {
    position: absolute;
    bottom: 20px;
    width: 150px;
    height: 150px;
    background-image: url("C:/Users/hanna/Downloads/bucket1.png"); 
    background-size: cover; 
}

.raindrop, .bad-raindrop {
    position: absolute;
    width: 80px;
    height: 80px;
}

.raindrop {
    background-image: url("C:/Users/hanna/Downloads/water.png");
    background-size: cover; 
}

.bad-raindrop {
    background-image: url("C:/Users/hanna/Downloads/badwater.png"); 
    background-size: cover; 
}

#score, #timer {
    position: fixed;
    font-size: 24px;
    color: #fff;
}

#score {
    top: 10px;
    right: 10px;
}

#timer {
    top: 40px;
    right: 10px;
}

#end-score {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: #fff;
    display: none; 
}
